.wrapper{
    display:grid;
    width: 100%;
    grid-template-rows: 1fr auto 0.5fr ;
    grid-template-columns: 1fr 4fr ;
    grid-template-areas:
        "navbar navbar"
        "sidemenu content"
        "footer footer"  
}
.navbar{
    grid-area:navbar;
}
.sidemenu{
    grid-area:sidemenu;
}
.content{
    grid-area: content;
    height: 100vh;
}

.footer{
    grid-area: footer;
}