mat-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: none;

    mat-list{
        width: 50%;
        display: flex;
        flex-direction: column;
        mat-list-item{
            cursor: pointer;
        }
    }
}
h3{
    text-align: center;
    font-weight: bold;
}

h2{
    text-align: center;
    background-color: #b2bfe0;
    margin-top: 8px;
    
}