.tableContainer{
    width: 100%;

    .iconsActionContainer{
        .actionIconsEdit{
            cursor: pointer;
            float: left;
            &:hover{
                color: #3f51b5
            }
        }
        .actionIconsDelete{
            cursor: pointer;
            float: right;
            &:hover{
                color: #E74C3C 
            }
        }
    }
}